@import url(./Desktop.css);

@media (max-width:768px){
    .searchBar{
        width: 45%;
    }
    
    .leftSection{
        width: 100%;
        display: none;
    }
    
    .rightSection{
        width: 100%;
    }

    .songContainer{
        justify-content: center;
    }

    .playerContainer{
        width: 98%;
        left: 1%;
    }
}

@media (max-width:640px){
    .searchBar{
        width: 80%;
    }
    
    .searchBar input{
        width: 75%;
    }
    
    .rightSection{
        width: 100%;
    }
    
    .songContainer{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .songCard{
        width: 50%;
    }
    
    .playerContainer{
        width: 100%;
        left: 0;
    }
    .songNameContainer {
        width: 20%;
    }
    .volumeBarContainer{
        display: none;
    }
}